<form action="/admin" method="post">
    <label for="cuisine">cuisine:</label>
    <input id="cuisine" name="cuisine" type="text">

    <label for="district">district:</label>
    <input id="district" name="district" type="text">

    <label for="budget">budget:</label>
    <input id="budget" name="budget" type="text">

    <button type="submit">Add Info</button>
  </form>
