<% if @id==nil %>

<!-- <h3 class="index"> You are not logged in </h3> -->

<br><br>

<button class="btn btn-primary index" name="login" action="/login"><a href="/login">Log-in</a></button>

<br><br>

<button class="btn btn-primary index" name="sign_up"><a href="/sign_up">Sign-up</a></button>

<% else %>

<br><br>

<button class="btn btn-primary index" name="logout"><a href="/logout">Logout</a></button>

<% end %>
