<% @users.each() do |user| %>
    <li><%=user.name()%></li>
<%end%>

<h1>Above is cleared</h1>

<h1>Below display current match</h1>

<h1><%= @current_user.name %></h1>

<form action='/match_cross' method='post'>
  <input type='hidden' id='count' name='count' value="<%= @number%>">
  <button type='submit' class='btn btn-success' name='button'>Cross</button>
</form>

<form action='/match_tick' method='post'>
  <input type='hidden' id='count' name='count' value="<%= @number%>">
  <button type='submit' class='btn btn-success' name='button'>Tick</button>
</form>
