<form class="form-group" action="sign_up" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="image">Profile photo URL:</label>
  <input type="text" name="image" id="image">
  <label for="password">Password:</label>
  <input type="text" name="password" id="password">
  <label for="passwordConfirm">Type your password again:</label>
  <input type="text" name="passwordConfirm" id="passwordConfirm">
  <button type="submit" class="btn btn-success" name="button">Sign-up</button>
</form>
