a {
  color: white;
  width: 60px;
}

#login_form {
  padding-top: 10%;
}

#no {
  margin-left:
}

#match_name {
  font-size: 30px;
  font-family: 'Righteous', serif;

}

::-webkit-input-placeholder {
   text-align: center;
   background: transparent;
   border: none;
   color: white;
  }

input[type="text"] {
    background: rgba(0,0,0,0.4);
    margin: 5px;
    font-size: 28px;
    border: none;
    color:white;
    text-align: center;
}

#btn_signup {
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  color: white;
  border: none;
  font-size: 28px;
}

#main_header {
  color: white;
  text-align: center;
  margin-top: 0px;
  padding: 40px 0 40px 0;
  font-family: UnifrakturCook;
  font-size: 60px;
  background-color: rgba(0,0,0,.4)


}

#user_img {
  height: 200px;
  border-radius: 10px;
}

body {
  align-items: center;
}

.container {
  margin-top: 100px;

}

#main_container {
align-items: center;
text-align: center;

}

/* for fullscreen video on index page */
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
